.white-color {
    color: white; 
}

.carousel-caption-changes {
    color: black;
    margin-bottom: 40em;
}

.carousel-caption-changes #intro-title {
    font-size: 4em;
}

.carousel-caption-changes #intro-para {
    font-size: 2em;
}

.card-changes {
    width: 18rem;
    margin: 1em;
}