.white-color {
    color: white !important; 
}

.carousel-caption-changes {
    color: black;
    margin-bottom: 36em;
}

.carousel-caption-changes h5 {
    font-size: 4em;
}

.carousel-caption-changes p {
    font-size: 2em;
}